body {
    background: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
    width: 1280px;
    height: 720px;
}

hr {
    margin: 25px 0;
}

div.container {
    margin: 10px 20px;
}

.MuiButton-label img {
    width: 50px;
    padding-top: 10px;
}